
.vs/elasticnodes/v15/.suo
.qmake.stash
debug/edge.obj
debug/elasticnodes.exe
*.ilk
*.log
*.pdb
*.tlog
*.obj
*.vcxproj
elasticnodes.vcxproj.filters
elasticnodes.vcxproj.user
elasticnodes.pro.user
debug/moc_predefs.h.cbt
debug/moc_predefs.h
debug/moc_graphwidget.cpp
